/* App.css */

.app-container {
  margin: 0;
  padding: 0;
}

.app-container h1,
.app-container header {
  margin: 0;
  padding: 0;
  text-align: center; /* Optional: Centers the text */
}

.app-container h1 {
  padding-top: 10px; /* Optional: Adds a slight top padding */
}

/* Additional styles for header component */
header {
  display: flex;
  align-items: center; /* Align items vertically centered */
  justify-content: space-between; /* Optional: Distribute space between elements */
  padding: 10px; /* Optional: Padding around header content */
}


.container {
  padding: 40px;
  background-color: #f5f5f5;
  min-height: 10vh;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Adjust width as needed */
  gap: 20px; /* Space between cards */
  justify-content: center; /* Center grid horizontally */
}